<h1>Listing schemas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @schemas.each do |schema| %>
      <tr>
        <td><%= schema.name %></td>
        <td><%= schema.description %></td>
        <td><%= link_to 'Show', schema %></td>
        <td><%= link_to 'Edit', edit_schema_path(schema) %></td>
        <td><%= link_to 'Destroy', schema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Grids', schema_grids_path(schema) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Schema', new_schema_path %>
