<h1>Listing grids</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Number of Entries</th>
      <th>Size</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @grids.each do |grid| %>
      <tr>
        <td><%= grid.name %></td>
        <td><%= grid.description %></td>
        <td>TODO NUMBER OF ENTRIES</td>
        <td>TODO SIZE</td>
	<td>TODO link to Data /grid/@schema.id.to_s/@grid.id.to_s/data</td>
	<td>TODO link to Drop /grid/@schema.id.to_s/@grid.id.to_s/_drop, method: :post, data: { confirm: "ARE YOU SURE THERE ARE COUNT ENTRIES?" }</td>
        <td><%= link_to 'Show', [@schema, grid] %></td>
        <td><%= link_to 'Edit', edit_schema_grid_path(@schema, grid) %></td>
        <td><%= link_to 'Destroy', [@schema, grid], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grid', new_schema_grid_path(@schema) %>
