<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grid.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @grid.description %>
</p>

<ul>
<% @grid.grid_fields.each do |gf| -%>
  <li>
      <strong>Field:</strong> <%= gf.name %>
       <% if gf.is_filterable? -%>
        Filterable
       <% end %>
  </li>
<% end %>
</ul>

<h3>Grid Data</h3>
  <strong>Number of Entries:</strong> TODO NUMBER OF ENTRIES 
  <strong>Size:</strong> TODO SIZE
  TODO link to Data /grid/@schema.id.to_s/@grid.id.to_s/data
  TODO link to Drop /grid/@schema.id.to_s/@grid.id.to_s/_drop, method: :post, data: { confirm: "ARE YOU SURE THERE ARE COUNT ENTRIES?" }</td>

<%= link_to 'Edit', edit_schema_grid_path(@schema,@grid) %> |
<%= link_to 'Back', schema_grids_path(@schema) %>
